@font-face {
  font-family: 'digital-7_monomono';
  src: url('assets/fonts/file/digital-7-italic/digital-7-italic-1-webfont.woff2') format('woff2'),
    url('assets/fonts/file/digital-7-italic/digital-7-italic-1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: "zqkhyt-Regular";
  src: url("assets/fonts/file/zqkhyt-Regular/zqkhyt-Regular.woff2") format("woff2"),
    url("assets/fonts/file/zqkhyt-Regular/zqkhyt-Regular.woff") format("woff"),
    url("assets/fonts/file/zqkhyt-Regular/zqkhyt-Regular.ttf") format("truetype"),
    url("assets/fonts/file/zqkhyt-Regular/zqkhyt-Regular.eot") format("embedded-opentype"),
    url("assets/fonts/file/zqkhyt-Regular/zqkhyt-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "FZCuQian-M17S";
  src: url("assets/fonts/file/FZCuQian-M17S/FZCuQian-M17S.woff2") format("woff2"),
    url("assets/fonts/file/FZCuQian-M17S/FZCuQian-M17S.woff") format("woff"),
    url("assets/fonts/file/FZCuQian-M17S/FZCuQian-M17S.ttf") format("truetype"),
    url("assets/fonts/file/FZCuQian-M17S/FZCuQian-M17S.eot") format("embedded-opentype"),
    url("assets/fonts/file/FZCuQian-M17S/FZCuQian-M17S.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
